.header {
  height: 55px;
  display: flex;
  flex-direction: row;

  background: #5e66ad;

  padding-left: 15px;
  padding-right: 15px;
}
.container1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name {
  width: 151px;
  height: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;

  color: #ffffff;
}
