.header {
    /* width:100%; */
    height: 55px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background: #5e66ad;
    /* align-items: center; */
    padding-left: 15px;
    padding-right: 15px;
    /* border: solid red; */
  }
  .container1{
    /* border: solid green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-name {
    width: 151px;
    height: 16px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
  
    color: #ffffff;
  }
  