.container {
  /* border: solid red; */
}
.inner-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 46px; */

  /* justify-content: space-between; */
  padding: 0;
  border: solid green;
  /* height: 37px; */

  list-style-type: none;
  height: 35px;
  align-items: center;
}
.empcontainer {
  /* border: solid blue; */
  width: 50vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  /* border-right: solid #5e66ad; */
  height: 35px;
  /* border: solid green; */
  /* background-color: #DBDEF7; */
  background-color: #9BA3ED;
}
.emplink {
  text-decoration: none;
  /* align-self: center; */
  /* margin-top: 10px; */
  text-align: center;
}
.projcontainer {
  /* border: solid blue; */
  height: 35px;

  width: 50vw;
  text-align: center;
  background-color: #9BA3ED;
}
.projlink {
  text-decoration: none;
}

.active {
  /* background-color: #DBDEF7 */
  background-color: aqua;
  /* border-bottom: 2px solid #ffd639; */
}

