<div class="container">
  <div class="header">
    <div *ngIf="logoutStatus === true" class="container1">
      <span class="header-name">RMT</span>
      <button mat-flat-button>Login</button>
    </div>
    <div *ngIf="logoutStatus === false" class="container1">
      <span class="header-name">RMT</span>
      <button (click)="logout()" mat-flat-button>LogOut</button>
    </div>
  </div>
  <app-tabnavigation></app-tabnavigation>
  <div class="main-container">
    <div class="left-container">
      <span class="allempoyee">All Employees</span>
      <button class="btn" (click)="openDialog()">Add</button>
      <input
        type="text"
        name="search"
        placeholder="Search"
        class="searchinput"
        [(ngModel)]="filterstring"
      />

      <div class="list-container">
        <div
          [ngStyle]="{
            'background-color':
              list?.name === peremployee?.name ? '#DBDEF7' : 'transparent'
          }"
          class="lists"
          *ngFor="let list of employeeList | filterpipe : filterstring"
          (click)="openempDetail(list)"
        >
          <span class="peremployee">{{ list?.name }}</span>
        </div>
      </div>
    </div>

    <div class="right-container">
      <app-employee-details
        [peremployee]="peremployee"
        [employeeslt]="employeeslt"
      ></app-employee-details>
    </div>
  </div>
</div>
