<app-tabnavigation></app-tabnavigation>
<div class="main-container">
    <div class="left-container">
        <span class="allempoyee">All projects</span>
        <button class="btn" (click)=" openDialog()">Add</button>
        <input type="text" name="search" placeholder="Search" class="searchinput">
        <div class="list-container">
            <div class="lists" *ngFor="let list of data ">
                <span class="peremployee">{{list.name}}</span>
                <span class="perstatus">{{list.status}}</span>

            </div>
        </div>
    </div>
    <div class="right-container">
        <span class="title">Name:<span class="description"> &nbsp; Project1</span></span>
        <br>
        <span class="title">Status:<span class="description"> &nbsp;yet to start</span></span>
        <button class="closebtn">Close</button>
        <br>
        <span class="title">Joining date:<span class="description">&nbsp; 12/11/22</span></span>
        <br>
        <span class="title"> Tecnologies:<span class="description">&nbsp; Angular, ReactJs,
            NodeJs</span></span>
            <br>
        <span class="title">Active projects:<span class="description">&nbsp;<a class="link"  routerLink="/employee"> Employee1, Employee2, Employee3 </a></span></span>
    </div>
</div>
