.container {
  height: 100%;
  min-width:927px;
  width: 100%;
}

.header {
  min-width:927px;
  /* width: 100%; */
  min-height: 55px;
  /* display: flex; */
  /* flex-direction: row; */
  background: #5e66ad;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
  
}
.header-name {
  width: 151px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
}
.container1 {
  min-height: 55px;
  /* min-width:927px; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
 
   padding-left: 15px;
  padding-right: 15px;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.left-container {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.right-container {
  flex: 50%;

  padding-top: 70px;
}
.allempoyee {
  height: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 15px;
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 15px;

  color: #000000;
}
.btn {
  width: 103px;
  min-height: 50px;
  background: #9ba3ed;
  border-radius: 5px;
  margin: 25px 0 15px 35px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.searchinput {
  width: 380px;
  box-sizing: border-box;
  min-height: 48px;
  background: #ffffff;
  border: 2px solid #474242;
  margin: 15px 0 15px 35px;
  font-size: 22px;
  padding-left: 15px;
}
.searchinput::placeholder {
  font-size: 22px;

  font-style: normal;
  font-weight: 700;

  color: #cdbebe;
}
.searchinput:focus {
  outline: none;
}
::-webkit-input-placeholder {
  text-align: left;
}
.list-container {
  min-height: fit-content;
  max-height: 225px;
  margin: 10px 0 0 35px;
  overflow-y: auto;
  width: fit-content;
}
::-webkit-scrollbar {
  display: none;
}
.lists {
  display: flex;
  width: 360px;
  height: 54px;
  border: 1px solid #5e66ad;

  padding-left: 18px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.peremployee {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #000000;

  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.perstatus {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  width: 50%;
}

.title {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;

  padding-top: 45px;
  padding-left: 25px;
  color: #000000;
}
.status {
  margin: none;
  padding: none;

  display: inline-block;
}
.description {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 15px;

  padding-right: 15px;

  color: #000000;
}
.closebtn {
  background-color: #9ba3ed;

  width: 118px;
  height: 45px;
  font-size: 25px;

  border-radius: 10px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;

  line-height: 15px;
  color: #000000;
}
.link {
  text-decoration: none;
  color: #196ff0;
  cursor: pointer;
}
.link-none {
  text-decoration: none;
}
