<div class="container">
<div class="header">
  <div *ngIf="logoutStatus === true" class="container1">
    <span class="header-name">RMT</span>
    <button mat-flat-button>Login</button>
  </div>
  <div *ngIf="logoutStatus === false" class="container1">
    <span class="header-name">RMT</span>
    <button (click)="logout()" mat-flat-button>LogOut</button>
  </div>
</div>
<app-tabnavigation></app-tabnavigation>

<div class="main-container">
  <div class="left-container">
    <span class="allempoyee">All projects</span>
    <button class="btn" (click)="openDialog()">Add</button>
    <input
      type="text"
      name="search"
      placeholder="Search"
      class="searchinput"
      [(ngModel)]="filterstring"
    />
    <div class="list-container">
      <div
        class="lists"
        [ngStyle]="{
          'background-color':
            list?.name === perproject?.name ? '#DBDEF7' : 'transparent'
        }"
        *ngFor="let list of projectList | filterpipe : filterstring"
        (click)="openempDetail(list)"
      >
        <span class="peremployee">{{ list.name }}</span>
        <div *ngIf="list.status === 'New'">
          <span class="perstatus">Yet to Start</span>
        </div>
        <div *ngIf="list.status === 'In Progress'">
          <span class="perstatus">In Progress</span>
        </div>
        <div *ngIf="list.status === 'Closed'">
          <span class="perstatus">{{ list.status }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <app-project-details
      [perproject]="perproject"
      [projectList]="projectList"
      (newItemEvent)="addItem($event)"
      (newPerProject)="addPerProject($event)"
    ></app-project-details>
  </div>
</div>
</div>