.header {
    /* width:100%; */
    height: 55px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background: #5e66ad;
    /* align-items: center; */
    padding-left: 15px;
    padding-right: 15px;
    /* border: solid red; */
  }
  .container1{
    /* border: solid green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-name {
    width: 151px;
    height: 16px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
  
    color: #ffffff;
  }


.main-container{
    /* border: solid red; */
    display: flex;
    flex-direction: row;
}
.left-container{
   flex: 50%;
   display: flex;
   flex-direction: column;
    /* border: solid green; */
}
.right-container{
    flex: 50%;
    /* border: solid pink; */
    padding-top: 70px;
  
}
.allempoyee{
   
/* width: 83px; */
height: 15px;


/* font-family: 'Inter'; */
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 15px;
    width: 30%;
    /* border: solid red; */
    padding-left: 35px;
    padding-top: 40px;
    padding-bottom: 15px;
/* identical to box height */


color: #000000;
}
.btn{
    
    width: 103px;
    height: 50px;
    background: #9BA3ED;
    border-radius: 5px;
    margin: 25px 0 15px 35px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    border: none;
}
.searchinput{
  width: 380px;
    box-sizing: border-box;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #474242;
    margin: 15px 0 15px 35px;
    font-size: 22px;
    padding-left: 15px;
    
}
.searchinput::placeholder{
    font-size: 22px;
    /* font-family: 'Inter'; */
font-style: normal;
font-weight: 700;
 /* padding-left: 15px; */
/* line-height: 15px; */
/* identical to box height */
color: #CDBEBE;
}
.searchinput:focus{
 outline: none;
}
::-webkit-input-placeholder {
  text-align: left;
  /* font-size: 20px; */
}
.list-container{

    min-height: fit-content;
    max-height: 209px;
        margin: 10px 0 0 35px;
        overflow-y: auto;
        width: fit-content;
        
}
::-webkit-scrollbar{
    display: none;
}
.lists{
     /* box-sizing: border-box; */
     display: flex;
    width: 360px;
    height: 50px;
    border: 1px solid #5E66AD;
    /* padding-top: 14px; */
    padding-left: 18px;
    align-items: center;
    /* justify-content: space-between; */
  gap: 8px;

   
}
.peremployee{
  font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 15px; */
    color: #000000;
   /* padding-left: 25px; */
   /* border: solid pink; */
   width: 50%;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

}
.perstatus{
    font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 15px;
      color: #000000;
      width: 50%;
      /* border: solid red; */
     /* padding-left: 85px; */
  
  }

.title{
/* font-family: 'Inter'; */
display: inline-block;
font-style: normal;
font-weight: 700;
font-size: 26px;
/* line-height: 15px; */
padding-top: 45px;
padding-left: 25px;
/* identical to box height */


color: #000000;

}
.status{
  margin: none;
  padding: none;
  /* border: solid blue; */
  display: inline-block;
}
.description{
    /* width: 65px;
    height: 15px;
    left: 319px;
    top: 116px; */
    
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 15px;
    /* identical to box height */
    padding-right: 15px;
    
    color: #000000;
}
.closebtn{
    background-color: #9BA3ED;;
 
   width: 118px;
   height: 45px;
   /* margin: 35px 60px 20px 0; */
   /* align-self: flex-end; */
 font-size: 25px;
   /* float: left; */
   border-radius: 10px;
   outline: none;
   border: none;
   
 
 
 /* font-family: 'Inter'; */
 font-style: normal;
 font-weight: 400;

 line-height: 15px;
 /* identical to box height */
 color: #000000;
}
.link{
    text-decoration: none;
    color: #196FF0;
}
.link-none{
  text-decoration: none;

}