.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  background: #5e66ad;
  padding-left: 15px;
  padding-right: 15px;
}
.container1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name {
  width: 151px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
}

.container {
  height: 90vh;
  width: 100vw;
  margin: auto 0;
}

::ng-deep .mat-mdc-unelevated-button .mat-mdc-button-touch-target {
  height: 24px !important;
  width: 60px !important;
  border-radius: 8px !important;
  background-color: white !important;
}

::ng-deep .mdc-button__label {
  font-style: normal;
  font-weight: 700;
  font-size: 13px !important;
  color: #000000 !important;
  text-align: center !important;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 55px);
  justify-content: center;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  height: 71px;
  width: 241px;
  text-align: center;
  margin: 0 auto;
}
.short-name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #5e66ad;
  padding-bottom: 15px;
}
.full-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e66ad;
  padding-bottom: 15px;
}
.loginMainDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid #5e66ad;
  width: fit-content;
  max-height: 22vh;
  min-height: fit-content;
  border-radius: 8px;
}
.form-div {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 0px 35px;
}
.email {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  margin-right: 35px;
  margin-bottom: 15px;
  color: #000000;
}
.password {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  margin-right: 35px;
  margin: 15px 0;
  color: #000000;
}
.input {
  width: 20vw;
  height: 32px;
  left: 161px;
  top: 262px;
  margin-right: 35px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  font-size: 16px;
  padding-left: 10px;
}
.input:focus {
  outline: none;
  background-color: #dbdef7;
}
.error {
  margin-top: 20px;
  color: red;
  margin-left: 10px;
  font-size: 14px;
  height: 20px;
}
.submit-button {
  margin-top: 0px;
  margin-left: 20px;
}
.submitBtn {
  background-color: #9ba3ed;
  width: 200px;
  height: 40px;
  align-self: flex-end;
  float: right;
  border-radius: 6px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  color: #000000;
}
.errormsg {
  color: red;
  font-size: 12px;
  margin-top: -18px;
  width: 20vw;
  margin-left: 10px;
}
